VITE_SUI_RPC=https://fullnode.testnet.sui.io
VITE_PACKAGE_ID=0xe17b6a97b54a5248e8a6f85abd67eada613e618c437de3db763d0718e8fd5dd2
VITE_DUNGEON_CAP=0xaa30c16da7628751897fd1d803af784b160869545f3155b7820b8754828b57c8
VITE_WALRUS_WASM_URL=https://unpkg.com/@mysten/walrus-wasm@latest/web/walrus_wasm_bg.wasm
VITE_WALRUS_GATEWAY=https://wal-aggregator-testnet.staketab.org/v1/blobs/by-quilt-patch-id

