VITE_SUI_RPC=https://fullnode.testnet.sui.io
VITE_PACKAGE_ID=0xaba6a790db8ea23d5713f397452d5ef42ebc0861b91e5ca85dd15d3f04b608fc
VITE_DUNGEON_CAP=0x7497d53ea4e2555470a1fd865fbd016118c66222b72146d6e9005e389414201f
VITE_WALRUS_WASM_URL=https://unpkg.com/@mysten/walrus-wasm@latest/web/walrus_wasm_bg.wasm
VITE_WALRUS_GATEWAY=https://wal-aggregator-testnet.staketab.org/v1/blobs/by-quilt-patch-id

